.banner {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.6),
      rgba(155, 187, 38, 0.7),
      rgba(253, 208, 5, 0.4)
    ),
    url(../../assets/mtfcolor2.webp);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  min-height: 30vh;
  color: #fff;
}
