.coms {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4mm ridge;
  border-color: rgb(216, 164, 100);
  border-width: 5px;
}

blockquote {
  line-height: 130%;
  font-style: italic;
  color: black;
  margin: 5px 10px 5px 5px;
}

cite {
  display: block;
  border-bottom: 4mm ridge;
  border-color: rgb(216, 164, 100);
  border-width: 5px;
}
