@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

$font-1: "Inconsolata", monospace;

$color-1: #61dafb;
$color-2: #409b40;
$color-3: #282c34;
$black: rgb(32, 35, 42);
$color-5: #fceb00;
$white: rgb(243, 243, 243);

* {
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  margin: auto;
  font-family: $font-1;
  color: $black;
}

li {
  list-style-type: none;
}
.ssligne {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ssligne:after {
  display: block;
  height: 3px;
  background-color: $color-2;
  width: 85px;
  content: "";
  margin: 0 auto;
}

a.nav-link {
  color: $white;
}

a.nav-link:hover {
  color: rgb(212, 212, 212);
}

a.btn {
  display: inline-block;
  margin-left: 5px;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
}

a.btn-full {
  background-color: azure;
  color: #00719e;
  margin-right: 15px;
}

a.btn-full:hover {
  background-color: #00719e;
  color: #fff;
}

a.btn-ghost {
  border: 1px solid black;
  color: green;
}

a.btn-ghost:hover {
  background-color: #5ee077;
  border: 1px solid #5ee077;
  color: #fff;
}
.scale:hover {
  transform: scale(1.06);
  transition: all 0.5s;
}