@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$font-1: 'Inconsolata', monospace;

$color-1: #61dafb;
$color-2: #409b40 ;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);
$color-5:#fceb00;
$white: rgb(243, 243, 243);

* {
    box-sizing: border-box;
    font-family: $font-1;
}

body {
    margin: auto;
    font-family: $font-1;
    color: $color-3;
}

li {
    list-style-type: none;
}
