.Footer{
    background-color: $color-2;
    color:$white;
    min-height: 30vh;
}

.ftitle {
    margin-bottom: 5px;
  }
  
  .ftitle:after {
      display:block;
      height: 2px;
      background-color: rgb(216, 164, 100);
      width: 50px;
      content: "";
      margin: 0 auto;
  }
  
.ftitleb {
    margin-bottom: 5px;
  }
  
  .ftitleb:after {
      display: block;
      height: 2px;
      background-color: $color-2;
      width: 50px;
      content: "";
      margin: 0 auto;
  }
  